<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="card card-chart">
          <div class="card-header card-header-success">
            <h4 class="card-title">Hypereledger</h4>
          </div>
          <div class="card-body">
            <div class="demo-single">
              <h4>Composer-Playground</h4>
              <div class="icons">
                <a target='_blank' href="http://52.172.13.43:8080/">
                  <fa-icon matTooltip="Demo" class="demo" matTooltipClass="demo-tooltip" [icon]="faDemo"></fa-icon>
                </a>
                <a target='_blank' (click)="openDialog('JQMh_DQ6wXc')">
                  <fa-icon matTooltip="Video" class="video" matTooltipClass="demo-tooltip" [icon]="faVideo"></fa-icon>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
