<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h3 class="title">Whitepapers</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card card-chart">
          <div class="card-header card-header-success">
            <h4 class="card-title">Certificates on Blockchain</h4>
          </div>
          <div class="card-body">
            <div class="button-row btns">
              <a target='_blank' href="https://evokemail.sharepoint.com/sites/blockchain/Shared%20Documents/whitepapers/Trusted%20Certificates%20using%20Blockchain.pdf" mat-stroked-button>Show PDF</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
