<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h3 class="title">Blockchain Architecture</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
            <mat-card class="example-card">
              <div class="img-card">
                  <img mat-card-image src="https://i.pinimg.com/originals/78/96/34/7896346363a9b34fc7f91b89cf077bc5.jpg" alt="General Architecture">
              </div>
              <mat-card-content>
                <h3>General Architecture</h3>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button (click)="openLightbox(0)">View Image</button>
              </mat-card-actions>
            </mat-card>
      </div>

    <div class="col-md-4">
        <mat-card class="example-card">
          <div class="img-card">
            <img mat-card-image src="../../assets/img/ucc-app.png" alt="General Architecture">
          </div>
          <mat-card-content>
            <h3>UCC App Architecture</h3>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="openLightbox(1)">View Image</button>
          </mat-card-actions>
        </mat-card>
    </div>

    <div class="col-md-4">
        <mat-card class="example-card">
          <div class="img-card">
            <img mat-card-image src="../../assets/img/ethereumArch.png" alt="General Architecture">
          </div>
          <mat-card-content>
            <h3>Certificates on Blockchain Architecture</h3>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="openLightbox(2)">View Image</button>
          </mat-card-actions>
        </mat-card>
    </div>
  </div>
</div>
