<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h3 class="title">Demo - Ethereum</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card card-chart">
          <div class="card-header card-header-rose">
            <h4 class="card-title">Health & Wellness</h4>
          </div>
          <div class="card-body">
            <div class="button-row btns">
              <a target='_blank' href="https://healthereum.com/" mat-stroked-button>Healthereum</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card card-chart">
          <div class="card-header card-header-success">
            <h4 class="card-title">Records Keeping</h4>
          </div>
          <div class="card-body">
            <div class="button-row btns">
              <a target='_blank' href="http://52.172.13.43:4200/" mat-stroked-button>Certificates on Blockchain</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card card-chart">
          <div class="card-header card-header-warning">
            <h4 class="card-title">Non-Profit Organization</h4>
          </div>
          <div class="card-body">
            <div class="button-row btns">
              <a target='_blank' href="http://52.172.13.43:4200/" mat-stroked-button>Crowd Funding</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
