<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h3 class="title">Demo - Ethereum</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card card-chart">
          <div class="card-header card-header-success">
            <h4 class="card-title">Records Keeping</h4>
          </div>
          <div class="card-body">
            <div class="demo-single">
              <h4>Certificates on Blockchain</h4>
              <div class="icons">
                <a target='_blank' href="https://drive.google.com/file/d/159s_8ojT4sdhFvvQEJaW2Z1oE0N0rf3m/view">
                  <fa-icon matTooltip="PPT" matTooltipClass="demo-tooltip" class="ppt" [icon]="faPpt"></fa-icon>
                </a>
                <a target='_blank' href="https://drive.google.com/file/d/1T58V9yyoZ-lfC7l1Kwf8G_dTwGcvCIun/view">
                  <fa-icon matTooltip="White Paper" matTooltipClass="demo-tooltip" class="whitepaper" [icon]="faWord"></fa-icon>
                </a>
                <a target='_blank' href="http://52.172.13.43:4200/">
                  <fa-icon matTooltip="Demo" class="demo" matTooltipClass="demo-tooltip" [icon]="faDemo"></fa-icon>
                </a>
                <a target='_blank' (click)="openDialog('9qfxLo1rt1Q')">
                  <fa-icon matTooltip="Video" class="video" matTooltipClass="demo-tooltip" [icon]="faVideo"></fa-icon>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card card-chart">
          <div class="card-header card-header-warning">
            <h4 class="card-title">Health & Wellness</h4>
          </div>
          <div class="card-body">
            <div class="demo-single">
              <h4>Healthereum</h4>
              <div class="icons">
                <a target='_blank' href="#">
                  <fa-icon matTooltip="PPT" matTooltipClass="demo-tooltip" class="ppt" [icon]="faPpt"></fa-icon>
                </a>
                <a target='_blank' href="#">
                  <fa-icon matTooltip="White Paper" matTooltipClass="demo-tooltip" class="whitepaper" [icon]="faWord"></fa-icon>
                </a>
                <a target='_blank' href="https://healthereum.com/">
                  <fa-icon matTooltip="Demo" matTooltipClass="demo-tooltip" [icon]="faDemo"></fa-icon>
                </a>
                <a target='_blank' (click)="openDialog('cI9CB2TEnfo')">
                  <fa-icon matTooltip="Video" class="video" matTooltipClass="demo-tooltip" [icon]="faVideo"></fa-icon>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card card-chart">
          <div class="card-header card-header-rose">
            <h4 class="card-title">Non-Profit Organization</h4>
          </div>
          <div class="card-body">
            <div class="demo-single">
              <h4>Crowd Funding</h4>
              <div class="icons">
                <a target='_blank' href="https://drive.google.com/file/d/1yDh-cHHdHBjXYxDWRh6JZysrfTYfeeLd/view">
                  <fa-icon matTooltip="PPT" matTooltipClass="demo-tooltip" class="ppt" [icon]="faPpt"></fa-icon>
                </a>
                <a target='_blank' href="#">
                  <fa-icon matTooltip="White Paper" matTooltipClass="demo-tooltip" class="whitepaper" [icon]="faWord"></fa-icon>
                </a>
                <a target='_blank' href="https://healthereum.com/">
                  <fa-icon matTooltip="Demo" matTooltipClass="demo-tooltip" [icon]="faDemo"></fa-icon>
                </a>
                <a target='_blank' (click)="openDialog('MGpFQPqISD4')">
                  <fa-icon matTooltip="Video" class="video" matTooltipClass="demo-tooltip" [icon]="faVideo"></fa-icon>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="legends">
    <div class="single">
        <span class="green"></span>
        <p>Completed</p>
    </div>
    <div class="single">
        <span class="yellow"></span>
        <p>In Progress</p>
    </div>
    <div class="single">
        <span class="red"></span>
        <p>Proposed</p>
    </div>
</div>
