<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <mat-card class="ledgers-card">
            <div class="img-card">
                <img routerLink="/ethereum" mat-card-image src="../../assets/img/ethereum.jpg" alt="General Architecture">
            </div>
            <mat-card-content>
                <h3>Ethereum</h3>
            </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-4">
        <mat-card class="ledgers-card">
            <div class="img-card">
                <img routerLink="/hyperledger" mat-card-image src="../../assets/img/hyperledger.jpg" alt="General Architecture">
            </div>
            <mat-card-content>
                <h3>Hyperledger</h3>
            </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-4">
        <mat-card class="ledgers-card">
            <div class="img-card">
                <img mat-card-image src="../../assets/img/multichain.jpg" alt="General Architecture">
            </div>
            <mat-card-content>
                <h3>Multichain</h3>
            </mat-card-content>
        </mat-card>
      </div>

      <div class="col-md-4">
        <mat-card class="ledgers-card">
            <div class="img-card">
                <img mat-card-image src="../../assets/img/r3corda.jpg" alt="General Architecture">
            </div>
            <mat-card-content>
                <h3>R3Corda</h3>
            </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
