<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="card card-chart">
          <div class="card-header card-header-success">
            <h4 class="card-title">Ethereum</h4>
          </div>

        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-chart">
          <div class="card-header card-header-rose">
            <h4 class="card-title">Hyperledger</h4>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="card card-chart">
          <div class="card-header card-header-warning">
            <h4 class="card-title">Multichain</h4>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card card-chart">
          <div class="card-header card-header-primary">
            <h4 class="card-title">R3Corda</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
